<configuration>
    <appSettings>
        <add key="AccessKey" value="" />
        <add key="Login" value="" />
        <add key="AutoKey" value="False" />
        <add key="AutoLogin" value="False" />
        <add key="ConsoleTheme" value="0" />
        <add key="ConfirmSaveKey" value="False" />
    </appSettings>
</configuration>