<configuration>
    <appSettings>
        <add key="AccessKey" value="" />
        <add key="AutoKey" value="True" />
        <add key="Login" value="" />
        <add key="Password" value="" />
        <add key="AutoLogin" value="False" />
        <add key="MaxdoctorsId" value="7" />
        <add key="MaxadmissionId" value="4" />
        <add key="MaxpacientesId" value="4" />
    </appSettings>
</configuration>